<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <display-name>Status service</display-name>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>generator.GeneratorServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Message Data Servlet</display-name>
        <servlet-name>MessageDataSrv</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>controller</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageDataSrv</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
        <!--<filter-name>CorsFilter</filter-name>-->
        <!--<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>cors.allowed.origins</param-name>-->
            <!--<param-value>*</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>CorsFilter</filter-name>-->
        <!--<url-pattern>/api/*</url-pattern>-->
    <!--</filter-mapping>-->

    <servlet>
        <display-name>Monitor view</display-name>
        <servlet-name>ViewSrv</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSrv</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.providers</param-name>
        <param-value>false</param-value>
    </context-param>

</web-app>
